<!--The whole content below can be removed with the new code.-->
<div style="text-align:center" class="title">
  <h1>Nome: {{uf.nome}}</h1>
    <div name = "details">
  <h3>ID: {{uf.id}}</h3>
  <h3>Area: {{uf.area}}</h3>
  <h3>Média: {{media}}</h3>
</div>
  <div name = "master">
  <h3>Municipios Atendidos: {{soma}}</h3>
  <h3><li *ngFor="let atend of dados">
        uf: {{atend.uf.nome}} , {{atend.valor}} municipios atendidos em <span class="badge">{{atend.ano}}</span>
    </li></h3>
    <!-- <h4><li *ngFor="let uf of ufs">
           {{ufs.nome}}</span>
      </li></h4> -->
      <!-- DEUS ME AJUDA -->
</div>
</div>
